/* esercizio 1 */
.ex-1-square{
  transition: background-color 2s;
}
.ex-1-square:hover{
  background-color: red;
}

/* esercizio 2 */
.ex-2-square{
  transition: width 3s;
}
.ex-2-square:active{
  width: 100%;
}

/* esercizio 3 */
.ex-3-square{
  transition: border-radius 2s;
}
.ex-3-square:hover{
  border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square{
  transition: background-color 2s;
}
.ex-4-square:hover{
  background-color: #f5f5f5;
}

/* esercizio 5 */
.ex-5-square{
  transition: height 2s, width 2s;
}
.ex-5-square:hover{
  height: 120px;
  width: 120px;
}
.ex-5-square:active{
  height: 25px;
  width: 25px;
}

/* esercizio 6 */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img{
  transition: filter 2s;
}
.ex-7-img:hover{
  filter: grayscale(1);
}

/* esercizio 8 */
.ex-8-img{
  transition: filter 3s, border-radius 3s;
}
.ex-8-img:hover{
  filter: grayscale(1);
  border-radius: 50px;
}

/* esercizio 9 */
.ex-9-img{
  transition: filter 3s, border-radius 3s, width 3s;
}
.ex-9-img:hover{
  filter: grayscale(1);
  border-radius: 50px;
  width: 50%;
}

/* esercizio 10 */
